*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0d0d0d;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 10%;
    background:black;
}

.navbar ul{
    display:flex;
    list-style:none;
}

.navbar ul li{
    margin-left:25px;
}

.navbar ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.navbar ul li a:hover,
.navbar ul li a.active{
    color:#ff4d00;
}

.logo{
    font-weight:bold;
    font-size:22px;
}

/* HERO */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 10%;
}

.hero-text h1 span{
    color:#ff4d00;
}

.hero-text h3{
    color:#ff4d00;
    margin:10px 0;
}

.btn{
    display:inline-block;
    padding:10px 25px;
    background:#ff4d00;
    color:white;
    border-radius:25px;
    text-decoration:none;
    margin-top:15px;
    transition:0.3s;
}

.btn:hover{
    background:#ff6a2b;
}

/* IMAGE GLOW EFFECT */
.hero-image img,
.about img{
    width:300px;
    border-radius:50%;
    box-shadow:0 0 40px #ff4d00;
}

/* ABOUT */
.about{
    text-align:center;
    padding:80px 10%;
}

.about h2 span{
    color:#ff4d00;
}

.about-content{
    margin-top:40px;
}

.about-content img{
    margin-bottom:20px;
}

/* SKILLS */
.skills{
    padding:80px 10%;
}

.skills h2 span{
    color:#ff4d00;
}

.skill{
    margin:25px 0;
}

.progress{
    background:#333;
    height:10px;
    border-radius:10px;
}

.progress div{
    height:100%;
    background:#ff4d00;
    border-radius:10px;
}

/* CONTACT */
.contact{
    text-align:center;
    padding:80px 10%;
}

.contact span{
    color:#ff4d00;
}

.contact a{
    color:#ff4d00;
    text-decoration:none;
}