*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f0f0f;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:black;
position:fixed;
width:100%;
z-index:1000;
}

.navbar ul{
display:flex;
list-style:none;
}

.navbar ul li{
margin-left:30px;
}

.navbar ul li a{
text-decoration:none;
color:white;
transition:0.3s;
}

.navbar ul li a:hover{
color:#ff4d00;
}

.logo{
font-weight:700;
font-size:22px;
color:#ff4d00;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:150px 10% 80px;
}

.hero-text h1 span{
color:#ff4d00;
}

.hero-text h3{
color:#ff4d00;
margin:10px 0;
}

.btn{
padding:12px 30px;
background:#ff4d00;
border:none;
border-radius:30px;
color:white;
cursor:pointer;
margin-top:20px;
transition:0.3s;
}

.btn:hover{
background:#ff6a2b;
transform:scale(1.05);
}

.hero-image img{
width:320px;
border-radius:50%;
box-shadow:0 0 60px #ff4d00;
animation:glow 2s infinite alternate;
}

@keyframes glow{
from{box-shadow:0 0 40px #ff4d00;}
to{box-shadow:0 0 80px #ff4d00;}
}

section{
padding:100px 10%;
text-align:center;
}

h2 span{
color:#ff4d00;
}

.skill{
margin:30px 0;
text-align:left;
}

.progress{
background:#333;
height:10px;
border-radius:10px;
}

.bar{
height:100%;
width:0;
background:#ff4d00;
border-radius:10px;
transition:2s;
}

.contact-box{
display:flex;
flex-direction:column;
gap:20px;
margin-top:30px;
}

.contact-box a{
color:#ff4d00;
text-decoration:none;
font-size:18px;
transition:0.3s;
}

.contact-box a:hover{
color:white;
}